body{
    background: black;
}
.first{
    height: 400px;
    background-image: url('./images/download.jpeg');
    background-size: cover;
}
.my-col{
    text-align: center;
}
.carousel-col{
    padding: 0px;
}
.coffee-header{
    text-align: center;
    color: white;
}